# Binaries
bin/
build/
*.exe
*.dll
*.so
*.dylib

# Build output
*.out

# Dependency directories
vendor/

# IDE/editor files
.vscode/
.idea/
*.swp

# Compiled proto files
**/*.pb.go

# Rust build output
**/target/

# MachOS DS_Store
**/.DS_Store

# Internal config files
internal/