go 1.23.5

use (
	./cmd/cli
	./cmd/supervisor
	./pkg
	./services/anchor
	./services/clientapi
	./services/core
	./services/integration
	./services/mcpserver
	./services/mesh
	./services/security
	./services/transformation
	./services/unifiedmodel
	./services/webhook
)
